.myClass{
    text-align: center;
}

.loginFieldClass {
    width: 90%;
    height: 25px;
    margin-bottom: 5%;
}

.loginForm {
    margin: 50px auto auto;
    width: 300px;
    height: 150px;
    background-color: #ffffff;
    padding-top: 50px;
}

.myClass input[type=submit] {
    font-size: 15px;
    height: 30px;
    color: #d7dee2;
    background-color: #012362;
    width: 90%;
}